$font_path: '~@/assets/fonts/';

@font-face {
  font-family: 'CentraleSans';
  src: url($font_path+'CentraleSansMedium.woff2') format('woff2'),
    url($font_path+'CentraleSansMedium.woff') format('woff'),
    url($font_path+'CentraleSansMedium.ttf') format('truetype'),
    url($font_path+'CentraleSansMedium.svg#CentraleSansMedium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'CentraleSans Book';
  src: url($font_path+'CentraleSansBook.woff2') format('woff2'),
    url($font_path+'CentraleSansBook.woff') format('woff'),
    url($font_path+'CentraleSansBook.ttf') format('truetype'),
    url($font_path+'CentraleSansBook.svg#CentraleSansBook') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CentraleSans Book';
  src: url($font_path+'CentraleSansBold.woff2') format('woff2'),
    url($font_path+'CentraleSansBold.woff') format('woff'),
    url($font_path+'CentraleSansBold.ttf') format('truetype'),
    url($font_path+'CentraleSansBold.svg#CentraleSansBold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'CentraleSans';
  src: url($font_path+'CentraleSansLight.woff2') format('woff2'),
    url($font_path+'CentraleSansLight.woff') format('woff'),
    url($font_path+'CentraleSansLight.ttf') format('truetype'),
    url($font_path+'CentraleSansLight.svg#CentraleSansLight') format('svg');
  font-weight: 300;
  font-style: normal;
}
