* {
  box-sizing: border-box;

  &:before,
  &:after {
    box-sizing: border-box;
  }
}

html {
  background: linear-gradient(
  160deg,
  map-get($colours, 'v-dark-blue') 0%,
  map-get($colours, 'dark-blue') 100%
  );
  font-size: 62.5%;
}

html,
body,
#app {
  height: 100%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: map-get($fonts, 'main');
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 500;
}

p {
  font-size: 1.5rem;
  margin-top: 0;
}

a {
  text-decoration: none;
}
