@mixin on-circle($item-count, $circle-size, $item-size) {  
  border-radius: 50%;
  height: $circle-size;
  list-style: none;
  padding: 0; 
  position: relative;
  width: $circle-size;

  // slightly transform the circle for odd numbers
  @if $item-count % 2 == 1 {
    transform: rotate(12deg);
  }

  li {

    // fix issue with icons being tilted by parent rotation
    button, 
    span {
      @if $item-count % 2 == 1 {
        transform: rotate(-12deg);
      }
    }
  }
  
  > * {
    // align-items: center;
    display: block;
    // flex-direction: column;
    // flex-wrap: no-wrap;
    height: $item-size;
    // justify-content: center;
    left: 50%;
    margin: -($item-size / 2);
    position: absolute;
    top:  50%; 
    width:  $item-size;
  
    $angle: (360 / $item-count);
    $rot: 0;

    @for $i from 1 through $item-count {
      &:nth-of-type(#{$i}) {
        transform: rotate($rot * 1deg) translate($circle-size / 2) rotate($rot * -1deg);
      }

      $rot: $rot + $angle;
    }
  }
}
