.button {
  border: 0;
  border-radius: .5rem;
  display: inline-block;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: .9;
  outline: none;
  padding: 1.2rem 1.5rem 1.2rem;
  transition: map-get($transitions, 'background-color');

  svg {
    height: 1.5rem;
    vertical-align: middle;
    width: 1.5rem;
  }

  &:hover,
  &:focus {
    cursor: pointer;
  }
}

.white {
  background-color: map-get($colours, 'white');
  color: map-get($colours, 'v-dark-blue');
}

.blue {
  background-color: map-get($colours, 'light-blue');
  color: map-get($colours, 'v-dark-blue');

  &:hover,
  &:focus {
    background-color: darken(map-get($colours, 'light-blue'), 10%);
    color: map-get($colours, 'v-dark-blue');
  }
}

.blue-dark {
  background-color: map-get($colours, 'v-dark-blue');
  color: map-get($colours, 'white');

  span {
    margin-left: 1rem;
  }

  &:hover,
  &:focus {
    background-color: darken(map-get($colours, 'v-dark-blue'), 10%);
    color: map-get($colours, 'white');
  }
}

.blue-bright {
  background-color: map-get($colours, 'brighter-blue');
  color: map-get($colours, 'white');

  &:hover,
  &:focus {
    background-color: darken(map-get($colours, 'brighter-blue'), 10%);
    color: map-get($colours, 'white');
  }
}

.chevron-right {
  svg {
    margin-left: 1rem;
  }
}

.chevron-left {
  svg {
    margin-right: 1rem;
  }
}


.orange {
  background-color: map-get($colours, 'orange');
  color: map-get($colours, 'white');

  &:hover,
  &:focus {
    background-color: darken(map-get($colours, 'orange'), 10%);
  }
}
