.slider-wrapper {
  .swiper-slide {
    img {
      height: auto;
      width: 100%;
    }
  }

  .swiper-button {
    background-image: none;
  }

  .owl-carousel {
    .owl-item {
      text-align: center;
      transform: scale(.7);
      transition: map-get($transitions, 'transform');

      img {
        margin: 0 auto;
        max-height: 530px;
        width: auto;
      }

      &.active {
        &.center {
          transform: scale(1);
        }
      }
    }

    &.owl-theme {
      .owl-nav {
        position: absolute;
        top: 50%;
        width: 100%;

        [class*='owl-'] {
          background: none !important;
        }

        .owl-prev,
        .owl-next {
          background: none;
          margin: 0;
          padding: 0;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);

          &:hover {
            background: none;
          }
        }

        .owl-prev {
          right: 0;
        }

        .owl-next {
          left: 0;
        }
      }
    }
  }
}
