.circle-container {
  margin: 0 auto;

  &.circle-container-1,
  &.circle-container-3,
  &.circle-container-5,
  &.circle-container-7,
  &.circle-container-9 {
    .product-feature {
      left: -7.4rem;

      &.top {
        left: -9rem;
      }
    }
  }


  button {
    appearance: none;
    background: none;
    border: 0;
    cursor: pointer;
    outline: none;
    padding: 0;
  }

  li {
    height: 6rem;
    width: 4rem;

    // fix issue with icons being tilted by parent rotation
    button {
      &:before,
      &:after {
        border: 1rem transparent;
        content: '';
        position: absolute;
        transition: map-get($transitions, 'border');
      }

      &:before {
        bottom: -.5rem;
        left: -.5rem;
        right: -.5rem;
        top: -.5rem;
      }

      &:after {
        bottom: -1rem;
        left: -1rem;
        right: -1rem;
        top: -1rem;
      }
    }

    &.active {
      button {
        &:before {
          border: 1rem solid rgba(map-get($colours, 'white'), .5);
          border-radius: 50%;
          bottom: -1.5rem;
          left: -1.5rem;
          position: absolute;
          right: -1.5rem;
          top: -1.5rem;
        }

        &:after {
          border: 1rem solid rgba(map-get($colours, 'white'), .3);
          border-radius: 50%;
          bottom: -2.5rem;
          left: -2.5rem;
          position: absolute;
          right: -2.5rem;
          top: -2.5rem;
        }
      }

      .product-feature__button {
        &:before {
          display: block;
          height: calc(100% + 1rem);
          left: -.5rem;
          right: -.5rem;
          top: -.5rem;
          width: calc(100% + 1rem);
        }
      }
    }

    img {
      display: block;
      height: 4rem;
      position: relative;
      transition: .15s;
      width: 4rem;
    }
  }

  .active & {
    .product-feature__button {
      &:before {
        bottom: 0;
        display: block;
        height: 100%;
        left: 0;
        right: 0;
        top: 0;
        width: 100%;
      }
    }
  }
}

// cap this at max features used
@for $i from 1 to 20 {
  .circle-container-#{$i} {
    @include on-circle($item-count: $i, $circle-size: 40rem, $item-size: 4rem);
  }
}
